.contact-info {
    text-align: center;
}

.contact-info .contact-info-item {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-info .contact-info-item.name {
    font-size: 14px;
    font-weight: bold;
}

.contact-info .contact-info-item.repo a {
    color: inherit;
    text-decoration: inherit;
}

.contact-info .contact-info-item:first-child {
    margin-top: 0px;
}

.contact-info .contact-info-item:last-child {
    margin-bottom: 0px;
}