.experience-line-item{
    display: grid;
    grid-row-gap: var(--gap-size-small);
    
    margin-bottom: var(--gap-size-large);
}

.experience-line-item:last-child {
    margin-bottom: 0px;
}

.experience-line-item .experience-line-item-header{
    grid-row: 1;
    grid-template-columns: 80% 20%;
    display: grid;
}

.experience-line-item-header .company-name{
    grid-column: 1;

    text-align: left;
    font-size: var(--font-size-large);
    font-weight: bold;
}

.experience-line-item-header .tenure{
    grid-column: 2;

    font-size: var(--font-size-small);
    text-align: right;
}

.experience-line-item .job-title{
    font-family: Lato-Italic;
    font-size: var(--font-size-medium);
}

.experience-line-item .accomplishment-item {
    font-family: Lato;
    font-size: var(--font-size-small);
}