.section-header {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    text-align: center;
}

.section-header .section-title {
    font-size: var(--font-size-medium);
    text-transform: uppercase;
}

.section-body {
    padding: 16px 12px;
}