.section-header {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    text-align: center;
}

.section-header .section-title {
    font-size: 16px;
    text-transform: uppercase;
}