.skill-category {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.skill-category .skill-category-header {
    font-size: var(--font-size-small);
    font-family: Lato-Bold;
}

.skill-category .skill-category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}