.institution-line-item {
    display: grid;
    grid-row-gap: var(--gap-size-small);

    margin-top: var(--gap-size-large);
}

.institution-line-item:first-child {
    margin-top: 0;
}

.institution-name {
    font-size: var(--font-size-large);
}

.degree-list-item,
.minor-list-item {
    font-size: var(--font-size-small);
}